#Home {
    font-size: 20px;
}
.img1 {
    width: 300px;
    height: auto;
    float: left;
}
.text {
    width: 40%;
    float: left;
}
img2 {
    width: 60%;
    height: auto;
    float: left;
}
.text {
    width: 40%;
    float: left;
}